.paragraph {
    border: 3px solid black;
    padding: 20px;
    background-color: rgb(206, 231, 253);
    border-radius: 5px;
}

.paragraph_primary {
    background-color: rgba(255, 0, 0, 0.301);
    padding: 20px;
    border-radius: 10px;
}

.paragraph_secondary {
    background-color: rgba(229, 255, 0, 0.301);
    padding: 20px;
    border-radius: 10px;
}

.paragraph_secondary--notes {
    background-color: rgba(0, 255, 34, 0.301);
    padding: 20px;
    border-radius: 10px;
}

.paragraph_secondary--BEM {
    background-color: rgba(0, 174, 255, 0.438);
    padding: 20px;
    border-radius: 10px;
}